.headingstyle {
    color: blue;
}

.container {
    height: 50px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.containerpass {
    height: 50px;
    position: relative;
    padding: 10px 10px 10px 10px;
    border: 10px;
}

.centerpass {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerpasscont {
    padding: 10px;
}