.headingstyle {
    color: blue;
}

.container {
    height: 50px;
}


/* .center {
    margin: 0 auto;
}

.containerpass {
    height: 200px;
    border: 10px;
    line-height: 3;
}

.centerpass {
    margin: 0 auto;
}

.centerpasscont {
    padding: 10px;
    margin: 0 auto;
} */

.wrapper {
    overflow: hidden;
    margin: auto;
    width: 90%;
    max-width: 1000px;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column wrap;
}

.body {
    line-height: 2.5;
}